<form
  class="
    flex-fill my-auto ms-lg-auto px-1
    d-flex align-items-center
    pd-search
  "
  role="search"
>
  <label class="ms-1" for="pd-search-input">
    <i data-feather="search" class="icon"></i>
  </label>
  <input
    id="pd-search-input"
    class="form-control border-0 bg-transparent shadow-none"
    type="search"
    placeholder="Search"
    aria-label="Search"
    autocomplete="off"
  >
  <kbd class="text-nowrap bg-black bg-opacity-25 text-white text-opacity-75">Ctrl + /</kbd>
  <div
    id="pd-search-suggestions"
    class="shadow bg-white rounded d-none"
  >
  </div>
</form>
