//
// Paged Docs content theming
//

#pd-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --bs-heading-color: var(--bs-emphasis-color);
  }

  &:not([data-pd-document]) {
    .pd-section-number, .pd-section-number-separator {
      display: none;
    }

    .figure-caption {
      &-prefix,
      &-number,
      &-separator {
        display: none;
      }
    }

    caption {
      .table-caption-prefix,
      .table-caption-number,
      .table-caption-separator {
        display: none;
      }
    }
  }
}

.bi {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.feather {
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
}

dt {
  margin-top: 1rem;
}

dd {
  padding-left: 1rem;
  margin-bottom: 1rem;
}
